.main{
    display: flex;
    height: fit-content;
}
.pictureDiv{
    width: 50%;
    height: 620px;
    display: flex;
    position: relative;
}
.volunteerImage{
    position: relative;
    object-fit: cover;
    width: 100%;
}
.paraText{
    width: 85%;
    text-align: center;
    text-wrap: balance;
    position: absolute;
    top: 20px;
    left: 40px;
    color: white;
    font-size: 45px;
    font-weight: 600;
}
.formDiv{
    display: flex;
    justify-content: center;
    width: 50%;
}
.mainForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.formTextDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content:center;
}

.header{
    font-weight: bolder;
    width: fit-content;
    text-align: center;
    text-wrap: balance;
    font-size: 40px;
    letter-spacing: 1.1px;
    color: rgb(75, 69, 69);
}
/* .headerSpan{
    width: fit-content;
    font-size: large;
    color: gray;
    text-align: center;
    text-wrap: balance;
} */

.text1{
    /* margin-top: -20px; */
    width: fit-content;
    font-size: large;
    color: gray;
    text-align: center;
    text-wrap: balance;
}

.SignUpGoogle{
    font-size: large;
    height: 60px;
    width: 100%;
    border-radius: 0.3rem;
    border-color: #FF7070;
    color: #FF7070;
    border-style: solid;
    background-color: white;
}

.SignUpGoogle:hover{
    transition:  0.5s ease;
    background-color: #FF7070;
    color: white;
}
.GoogleLogo{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
#fnameInput{
    height: 60px;
    width: 100%;
    border-radius: 0.3rem;
    border-color:  rgb(184, 180, 180);
    border-style: solid;
    background-color: white;
}
#fnameInput::placeholder{
    font-size: larger;
    letter-spacing: 1px;
}
.EmailInput{
    height: 60px;
    width: 100%;
    border-radius: 0.3rem;
    border-color:  rgb(184, 180, 180);
    border-style: solid;
    background-color: white;
}
.EmailInput::placeholder{
    font-size: larger;
    letter-spacing: 1px;
}
#passInput{
    height: 60px;
    width: 100%;
    border-radius: 0.3rem;
    border-color: #FF7070;
    border-style: solid;
    background-color: white;
}
#passInput::placeholder{
    font-size: larger;
    letter-spacing: 1px;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.foundationSelector{
    height: 60px;
    width: 70%;
    border-radius: 0.3rem;
    background-color: white;
    border-color:#FF7070;
    color: #FF7070; 
    font-size: larger;
}
.registerButtons{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.createBtn{
    color: white;
    background-color: #FF7070;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    font-size: large;
}
.createBtn:hover{
    transition:  0.5s ease;
    color: #f86666;
    background-color: rgb(255, 240, 240);
}
.loginLink{
    font-size: medium;
    width: 100%;
    color: #FF7070;
    text-decoration: none;
} 

@media (max-width: 1000px) {
    .paraText{
        font-size: 2.8vmax;
    }
    .pictureDiv{
        width: 100%;
        height: 200px;
    }
    .paraText{
        display: none;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .header{
        font-size: 3.2vmax;
    }
    .text1{
        font-size: 2.7vmin;
    }
    .SignUpGoogle{
        height: 10vmin;
        font-size: 2.5vmin;
    }
    .GoogleLogo{
        height: 15px;
        width: 15px;
    }
    .formDiv{
        width: 70%;
    }
    #fnameInput{
        height: 10vmin;
    }
    #fnameInput::placeholder{
        font-size: 2.7vmin;
    }
    .EmailInput{
        height: 10vmin;
    }
    .EmailInput::placeholder{
        font-size: 2.7vmin;
    }
    #passInput{
        height: 10vmin;
    }
    #passInput::placeholder{
        font-size: 2.7vmin;
    }
    .foundationSelector{
        height: 10vmin;
        font-size: 2.8vmin;
    }
    .createBtn{
        height: 10vmin;
        font-size: 2.8vmin;
    }
    .loginLink{
        font-size: 2.8vmin;
    }
}
@media (max-width: 300px){
    .GoogleLogo{
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 350px){
    .pictureDiv{
        height: 120px;
    }
}