.main{
    background: url(../Images/divPic.jpg);
    height: 550px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(15%);
}
.review{
    position: relative;
    margin-top: -450px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.review h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.review h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.review h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.review p{
    font-family: sans-serif;
    width: 60%;
    text-align: center;
    font-size: 18px;
    color: white;
    letter-spacing: 1.25px;
}

@media(max-width:1000px){
    .review h1{
        font-size: 4vmax;
    }
    .review h2{
        font-size: 3.5vmax;
    }
    .review h3{
        font-size: 3vmax;
    }
    .review p{
        font-size: 3.2vmin;
        width: 100%;
    }
}